RewriteEngine On

RewriteRule ^(_app) - [F,L]
RewriteRule ^(_config) - [F,L]
RewriteRule ^(_content) - [F,L]
RewriteRule ^(.*).yml$ - [F,L]
RewriteRule ^(.*).yaml$ - [F,L]
RewriteRule ^(.*).html$ - [F,L]
RewriteRule ^(.*/)?\.git+ - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [QSA,L]

redirect 301 /feed.xml http://themindfulbit.com/feed
redirect 301 /2012/11/09/meet-nerdquery/ http://themindfulbit.com/blog/meet-nerdquery
redirect 301 /2012/12/28/the-river/ http://themindfulbit.com/blog/the-river
redirect 301 /articles/2012/5/31/more-simple-type2phone-and-keyboard-maestro-tricks.html http://themindfulbit.com/blog/more-simple-type2phone-and-keyboard-maestro-tricks
redirect 301 /articles/2012/5/28/to-profile-or-not-to-profile.html http://themindfulbit.com/blog/to-profile-or-not-to-profile