<ul class="category-menu">
	<li class="menu-title">Themes</li>
	  <li class="mindfulness-link">
	  	<a href="/blog/categories/mindfulness"><span class="ball"></span>Mindfulness</a>
	  </li>	
	  <li class="technology-link">
	  	<a href="/blog/categories/technology"><span class="ball"></span>Technology</a>
	  </li>	
	  <li class="design-link">
	  	<a href="/blog/categories/design"><span class="ball"></span>Design</a>
	  </li>	
	  <li class="flying-link">
	  	<a href="/blog/categories/flying"><span class="ball"></span>Flying</a>
	  </li>	
</ul>