<ul class="project-menu">
    <li class="menu-title">Projects</li>
    <li>
        <a href="http://technicaldifficulties.us">
            <img src="{{ _site_url }}assets/icons/td.png">
            <span class="link-text">Technical Difficulties</span>
        </a>
    </li>
    <li>
        <a href="http://www.70decibels.com/generational/">
            <img src="{{ _site_url }}assets/img/generational.svg">
            <span class="link-text">Generational</span>
        </a>
    </li>
    <li>
        <a href="http://criticmarkup.com">
            <img src="http://criticmarkup.com/favicon.png">
            <span class="link-text">CriticMarkup</span>
        </a>
    </li>
    <li>
        <a href="http://nerdquery.com">
            <img src="http://nerdquery.com/templates/NerdQuery/images/favicon.png">
            <span class="link-text">NerdQuery</span>
        </a>
    </li>
    <li>
        <a href="http://high90.com">
            <img src="http://high90.com/favicon.png">
            <span class="link-text">high90</span>
        </a>
    </li>
    <li>
        <a href="http://carrierlandingconsultants.com">
            <img src="http://carrierlandingconsultants.com/favicon.png">
            <span class="link-text">CLC</span>
        </a>
    </li>

</ul>