<ul class="social-menu">
    <li class="menu-title">Elsewhere</li>
<!--     <li>
        <a href="http://alpha.app.net/themindfulbit">
            <img src="http://alpha.app.net/favicon.ico">
            <span class="link-text">App.Net</span>
        </a>
    </li> -->
    <li>
        <a href="http://twitter.com/themindfulbit">
            <img src="http://twitter.com/favicon.ico">
            <span class="link-text">Twitter</span>
        </a>
    </li>
    <li>
        <a href="http://github.com/themindfulbit">
            <img src="http://github.com/favicon.ico">
            <span class="link-text">Github</span>
        </a>
    </li><!-- 
    <li>
        <a href="http://www.flickr.com/photos/themindfulbit">
            <img src="{{ _site_url }}assets/img/flickr.png">
            <span class="link-text">Flickr</span>
        </a>
    </li> -->
    <li>
        <a href="http://vimeo.com/themindfulbit">
            <img src="http://vimeo.com/favicon.ico">
            <span class="link-text">Vimeo</span>
        </a>
    </li>
</ul>