


<div class="content">
  <div class="post about">

    <div class="pre-bar">
      {{ tags }}
        <a class="icon {{ name }}" href="{{ _site_root }}blog/tags/{{ name|slugify }}"></a>
      {{ /tags }}
    </div>
    <div class="post-body">

    
      <div class="title-banner {{ categories_spaced_list }}">
        <a alt="{{ title }}" title="{{ title }}" rel="page" href="{{ url }}" >
            <img src="{{ _site_url }}assets/img/{{ banner }}" />
        </a>
      </div>
      {{ if caption }}
      <div class="caption">{{ caption|markdown }}</div>
      {{ endif }}

        {{ content|widont }}

        {{ if image }}
        <div class="image">
          {{ theme:partial src="image" file="{ image }" }}
          <p>{{ caption|markdown }} </p>
        </div>
        {{ endif }}

    </div>
  </div> 
</div>