<div class="content index">
	<img class="logo" src="{{ theme:img src="logo.svg"}}" alt="Logo" />
  	<h1>The Mindful Bit</h1>

	<h2>{{ title }}</h2>
	<ul id="tag-index">
	    {{ taxonomy:listing folder="blog|gallery" type="tags" sort_by="name"}}
	    <li>
	      <a href="{{ url }}"><span class="tag-name">{{ name }}</span> <span class="entry-count">{{ results }}</span></a>
	    </li>
	    {{ /taxonomy:listing }}
	</ul>
	<h2>Icon Browser</h2>
	<div id="icon-index">
	    {{ taxonomy:listing folder="blog|gallery" type="tags" sort_by="name"}}

	      <a class="icon {{ name }}" href="{{ _site_root }}tags/{{ name|slugify }}"></a>

	    {{ /taxonomy:listing }}
	</div>
</div>